@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-cyan: #29c7d7;
  --bs-orange: #f98d38;
}

body {
  height: 100vh;
  @apply bg-gray-100 dark:bg-gray-900;
}

main#app {
  @apply py-10 dark:text-white;
}

.colored {
  background: linear-gradient(to right, var(--bs-cyan), var(--bs-orange));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.box {
  position: relative;
  display: flex;
  margin: auto;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.box span {
  position: absolute;
  inset: 2px;
  z-index: 1;
}

.box img {
  z-index: 2;
}

.box::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    var(--bs-cyan)
  );
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}

.box::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    var(--bs-orange)
  );
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.toast {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 300px;
  padding: 1rem;
  visibility: hidden;
  @apply rounded bg-slate-50 p-3 shadow dark:bg-slate-800 dark:text-white;
}

.toast.show {
  visibility: visible;
  animation: fade 1s ease;
}

.toast-header {
  @apply mb-3 flex items-center justify-between;
}

.toast-header span {
  @apply flex items-center gap-1 text-base font-semibold;
}

.toast-header button {
  @apply text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.backup-dest ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
